body{
    font-family:'Poppins',sans-serif;
    margin:0;
    display:flex;
    min-height:100vh;
}

.main-content{
    margin-left:240px;
    padding:30px;
    width:calc(100% - 240px);
    min-height:100vh;
    background:#eaf3fb;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.search-box{
    display:flex;
    align-items:center;
    background:#fff;
    padding:10px 15px;
    border-radius:12px;
    width:320px;
}

.search-box img{
    width:18px;
    margin-right:10px;
    opacity:0.6;
}

.search-box input{
    border:none;
    background:none;
    outline:none;
    width:100%;
    font-size:12px;
}

.dropdown{
    display:flex;
    align-items:center;
    gap:12px;
    font-size:13px;
    color:#374151;
}

.custom-select{
    position:relative;
    width:120px;
    font-size:13px;
}

.selected{
    background:#fff;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 12px;
    border-radius:10px;
    cursor:pointer;
    box-shadow:0 2px 6px rgba(0,0,0,0.05);
}

.selected img{
    width:12px;
    opacity:0.6;
    transition:0.2s;
}

.custom-select.active .selected img{
    transform:rotate(90deg);
}

.options{
    position:absolute;
    top:110%;
    left:0;
    width:100%;
    background:#fff;
    border-radius:12px;
    box-shadow:0 8px 18px rgba(0,0,0,0.1);
    display:none;
    flex-direction:column;
    padding:6px;
    z-index:100;
}

.options div{
    padding:10px;
    border-radius:8px;
    cursor:pointer;
    transition:0.2s;
}

.options div:hover{
    background:#eaf3fb;
}

.table-box{
    background:#fff;
    border-radius:18px;
    overflow-x:auto;
}

.table-header{
    background:#7f97bd;
    color:#fff;
    display:grid;
    grid-template-columns: 2fr 1.8fr 1.5fr 1.3fr 1.3fr 0.8fr 1fr 1.3fr 1.1fr 1.1fr;
    padding:16px 25px;
    gap:10px;
    font-size:13px;
    font-weight:500;
}

.table-header span{
    text-align:center;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.table-body{
    padding:0;
}

.table-row{
    display:grid;
    grid-template-columns: 2fr 1.8fr 1.5fr 1.3fr 1.3fr 0.8fr 1fr 1.3fr 1.1fr 1.1fr;
    padding:16px 25px;
    gap:10px;
    align-items:center;
    border-bottom:1px solid #eee;
}

.table-row span{
    text-align:center;
    font-size:13px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.status-working,
.status-not-working,
.status-defective{
    padding:4px 10px;
    border-radius:999px;
    display:inline-block;
    font-weight:500;
}

.status-working{
    background:#dcfce7;
    color:#16a34a;
}

.status-not-working{
    background:#fee2e2;
    color:#f59e0b;
}

.status-defective{
    background:#fef3c7;
    color:#dc2626;
}

.status-not-used{
    padding:4px 10px;
    border-radius:999px;
    display:inline-block;
    font-weight:500;
    background:#e5e7eb; 
    color:#374151;    
}

.no-data {
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #a8a8a8;
    font-size: 13px;
}