*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif
}

body{
    overflow:hidden
}

.monitor-wrapper{
    margin-left:240px;
    min-height:100vh;
    padding:20px;
    background:#eaf3fb;
}

.monitor-top{
    display:flex;
    justify-content:space-between;
    align-items:center
}

.monitor-icons{
    display:flex;
    gap:12px
}

.monitor-icons button{
    width:42px;
    height:42px;
    border:1.5px solid #c3c3c3;
    background:#fff;
    border-radius:10px;
    cursor:pointer;
    box-shadow:0 2px 2px rgba(0,0,0,.08);
    display:flex;
    justify-content:center;
    align-items:center;
}

.monitor-icons button:active{
    transform:scale(.95);
}

.monitor-icons img{
    width:20px
}

.add-lab{
    display:flex;
    align-items:center;
    background:#fff;
    width:180px;
    height:42px;
    border-radius:10px;
    box-shadow:0 2px 2px rgba(0,0,0,.08);
    padding-left:14px;
    cursor:pointer;
    border:1.5px solid #e5e7eb;
}

.add-lab:active{
    transform:scale(.97);
}

.add-lab span{
    font-size:12px;
    white-space:nowrap;
    padding-right:30px;
}

.add-lab img{
    margin-left:auto;
    margin-right:14px;
    width:14px;
    transition:.2s ease;
}

.monitor-content{
    margin-top:40px;
    height:calc(100vh - 120px);
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

#pcContainer{
    width:100%;
    display:flex;
    gap:21px;
    flex-wrap:wrap;
    align-content:flex-start;
}

.empty-wrapper{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding-top:100px;
}

.empty-wrapper img{
    width:260px;
    margin-bottom:20px
}

.empty-wrapper h3{
    font-weight:500;
    color:#333
}

.empty-wrapper p{
    color:#9ca3af;
    font-size:14px;
    margin-top:6px
}

.pc-box{
    width:120px;
    height:90px;
    border:1.5px solid #c3c3c3;
    border-radius:12px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#fff;
    box-shadow:0 2px 4px rgba(0,0,0,.08);
    cursor:pointer;
}

.pc-box img{
    width:100px;
    margin-bottom:50px;
    margin-top:-15px;
}

.pc-box span{
    font-size:13px;
    font-weight:500;
    margin-top:-70px;
}

.pc-box:hover{
    background:#f3f4f6;
}

.pc-selected{
    border-color:#4B3935;
    background:#eff6ff;
}

#deletePcBtn:disabled{
    opacity:.4;
    cursor:not-allowed;
    box-shadow:none;
}

.monitor-wrapper,
.monitor-wrapper * {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#qrBtn img,
#addPcBtn img,
#deletePcBtn img,
#comlabBtn img,
.pc-box img {
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
}

.toast-message{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%, -50%);
background:#111827;
color:#fff;
padding:12px 18px;
border-radius:8px;
font-size:14px;
opacity:0;
transition:all .3s ease;
z-index:9999;
}

.toast-message.show{
opacity:1;
transform:translate(-50%, -50%) scale(1);
}

.toast-success{
background:#16a34a;
color:#fff;
}

.toast-error{
background:#dc2626;
color:#fff;
}

.pagination{
    display:flex;
    align-items:center;
    width:100%;
    padding:6px 0;
    position:relative;
}

.pagination button{
    height:34px;
    padding:0 10px;
    border:none;
    border-radius:6px;
    background:#ffffff;
    display:flex;
    align-items:center;
    gap:5px;
    cursor:pointer;
    border:1px solid #d1d5db;
    color:#3b3b3b;
    font-size:12px;
}

.pagination button img{
    width:12px;
    pointer-events:none;
}

.pagination button:active{
    transform:scale(.95);
}

.pagination button:hover{
    background:#f3f4f6;
}

.pagination button:disabled{
    background:#e5e7eb;
    color:#9ca3af;
    cursor:not-allowed;
}

#prevBtn{
    margin-right:auto;
}

#nextBtn{
    margin-left:auto;
}

#pageIndicator{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    font-size:13px;
    font-weight:500;
    color:#374151;
}
