*{
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    -webkit-tap-highlight-color:transparent;
}

body{
    margin:0;
    background:linear-gradient(180deg,#eaf4ff,#ffffff);
}

.login-wrapper{
    width:100%;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:18px;
}

.auth-container{
    width:100%;
    max-width:360px;
    background:#fff;
    padding:20px 16px;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    position:relative;
}

.back-btn{
    position:absolute;
    top:12px;
    left:12px;
}

.back-btn img{
    width:18px;
}

.fp-title{
    text-align:center;
    font-size:18px;
    font-weight:600;
    margin-bottom:6px;
}

.verify-text{
    text-align:center;
    font-size:12px;
    color:#555;
    margin-bottom:16px;
    line-height:1.4;
}

.email{
    display:block;
    color:#006fd6;
    font-weight:500;
    margin-top:2px;
    word-break:break-all;
}

form{
    display:flex;
    flex-direction:column;
}

.otp-box{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:12px;
}

.otp-box input{
    width:50px;
    height:52px;
    border-radius:12px;
    border:1px solid #ddd;
    font-size:18px;
    text-align:center;
    outline:none;
    transition:0.2s;
}

.otp-box input:focus{
    border-color:#006fd6;
    box-shadow:0 0 0 2px rgba(0,111,214,0.08);
}

.otp-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:14px;
}

.otp-error{
    font-size:10px;
    color:red;
    margin-top:-4px;
}

.resend-link{
    font-size:11px;
    text-decoration:none;
    color:#006fd6;
    font-weight:500;
    margin-left:190px; 
}

button{
    width:100%;
    height:44px;
    border:none;
    border-radius:12px;
    background:linear-gradient(135deg,#006fd6,#4da3ff);
    color:#fff;
    font-size:14px;
    font-weight:500;
    cursor:pointer;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:-6px; /* ⬅️ dito mo ilagay */
}

button:disabled{
    opacity:0.6;
}

.btn-text,
.dots{
    position:absolute;
}

.dots{
    display:none;
    top:35%;
    left:50%;
    transform:translate(-50%,-50%);
}

button.loading .btn-text{
    visibility:hidden;
}

button.loading .dots{
    display:block;
}

.dots span{
    animation:blink 1.2s infinite;
    font-size:16px;
}

.dots span:nth-child(2){
    animation-delay:0.2s;
}

.dots span:nth-child(3){
    animation-delay:0.4s;
}

@keyframes blink{
    0%{opacity:0;}
    50%{opacity:1;}
    100%{opacity:0;}
}