.pc-modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.3);
display:flex;
align-items:center;
justify-content:center;
z-index:9999;
}

.pc-box{
background:#fff;
width:300px;
padding:25px;
border-radius:25px;
text-align:center;
transform: translateY(-50px); /* 👈 ADD THIS */
}

.pc-box h4{
margin-bottom:15px;
color:#1d3c78;
}

.pc-box input,
.pc-box select,
.pc-box textarea{
width:100%;
border:1px solid #ccc;
border-radius:10px;
padding:10px;
margin-bottom:10px;
font-size:11px;
}

.pc-box textarea{
    height:70px;
    resize:none;
    color:#999;
    border:1px solid #e5e7eb; /* 👈 softer border */
    outline:none; /* 👈 REMOVE BLACK BORDER */
}

.pc-box textarea:focus{
    border:1px solid #4b5f78; /* 👈 optional highlight */
    outline:none; /* 👈 important */
}

.pc-box textarea::placeholder{
    color:#bbb;
}

.pc-actions{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:10px;
}

.pc-actions span{
font-size:12px;
cursor:pointer;
margin-left:95px;
}

.pc-actions button{
background:#4b5f78;
color:white;
border:none;
padding:8px 20px;
border-radius:8px;
font-size:12px;
}

.pc-box select{
appearance:none;
-webkit-appearance:none;
-moz-appearance:none;
background-image:url("../img/student_img/drop_down.png");
background-repeat:no-repeat;
background-position:right 12px center;
background-size:12px;
padding-right:35px;
}

.scanner-modal{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.6);
display:none;
align-items:center;
justify-content:center;
z-index:9999;
}

.scanner-modal.active{
display:flex;
}

.scanner-box{
background:#fff;
width:90%;
max-width:350px;
padding:20px;
border-radius:20px;
text-align:center;
}

.scanner-box h3{
font-size:15px;
margin-bottom:12px;
}

#reader{
width:100%;
}

#closeScanner{
margin-top:15px;
background:#4b5f78;
color:white;
border:none;
padding:8px 20px;
border-radius:8px;
font-size:12px;
}

#openScanner{
cursor:pointer;
}

.toast{
position: fixed;
top: 30px;
left: 50%;
transform: translateX(-50%) translateY(-20px);
padding: 12px 25px;
border-radius: 25px;
font-size: 12px;
font-weight: 500;
box-shadow: 0 6px 15px rgba(0,0,0,0.25);
opacity: 0;
transition: all 0.3s ease;
z-index: 10000;
color: #fff;
}

.toast.show{
opacity: 1;
transform: translateX(-50%) translateY(0);
}

.toast.success{
background: #28a745;
}

.toast.error{
background: #dc3545;
}

.logout-modal{
position:fixed;
inset:0;
background:rgba(0,0,0,0.25);
display:none;
align-items:center;
justify-content:center;
z-index:9999;
}

.logout-box{
background:#fff;
width:85%;
max-width:300px;
border-radius:12px;
padding:18px 20px;
text-align:left;
box-shadow:0 5px 20px rgba(0,0,0,0.15);
}

.logout-box h3{
font-size:18px;
margin-bottom:8px;
}

.logout-box p{
font-size:13px;
color:#666;
margin-bottom:20px;
}

.logout-actions{
display:flex;
justify-content:flex-end;
align-items:center;
gap:15px;
border-top:1px solid #eee;
padding-top:15px;
}

.cancel-btn{
background:none;
border:none;
font-size:12px;
color:#555;
cursor:pointer;
}

.yes-btn{
background:#2a9fd6;
color:#fff;
padding:7px 20px;
border-radius:8px;
text-decoration:none;
font-size:12px;
}

.subject-modal{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.3);
display: flex;
align-items: center;
justify-content: center;
z-index: 999;
}

.subject-box{
width: 320px;
position:relative;
height: 400px;
background: #fff;
padding: 20px 20px;
border-radius: 40px;
text-align: center;
box-shadow: 0 15px 30px rgba(0,0,0,0.2);
z-index:1001;
}

.subject-box h3{
margin-top: 0;
margin-bottom: 15px;
font-size: 15px;
font-weight: 500;
}

.subject-dropdown{
margin-top: 25px;
border: 1px solid #ccc;
border-radius: 15px;
padding: 14px 15px;
display: flex;
justify-content: space-between;
align-items: center;
}

.subject-dropdown span{
color: #888;
font-size: 11px;
}

.subject-dropdown img{
width: 15px;
}

#dropdownIcon{
transition: transform 0.3s ease;
}

#dropdownIcon.rotate{
transform: rotate(90deg);
}

.no-subject{
    margin-top:15px;
    text-align:center;
}

.no-subject img{
width: 170px;
opacity: 0.9;
}

.no-subject p{
    margin-top:10px;
    font-size:12px;
    color:#777;
    white-space:nowrap;
}

.subject-list{
    position:absolute; 
    top:120px;
    left:20px;
    width:calc(100% - 40px);
    border:1px solid #ccc;
    border-radius:20px;
    padding:10px 0;
    background:#fff;
    display:none;
    z-index:1000;
}

.subject-list.active{
    display:block;
}

.subject-item{
    padding:10px 20px;
    font-size:12px;
    text-align:left;
    cursor:pointer;
}

.subject-item:hover{
    background:#f2f2f2;
    border-radius:10px;
    margin:0 10px;
}

.dropdown-list{
    position:absolute;
    top:120px;
    left:20px;
    width:calc(100% - 40px);
    border:1px solid #ccc;
    border-radius:20px;
    padding:10px 0;
    background:#fff;
    display:none;
    z-index:1000;
    max-height:150px;
    overflow-y:auto;
}

.dropdown-item{
    padding:10px 20px;
    font-size:12px;
    text-align:left;
    cursor:pointer;
}

.dropdown-item:hover{
    background:#f2f2f2;
    border-radius:10px;
    margin:0 10px;
}

.tag-container{
    display:flex;
    flex-wrap:wrap;
    gap:8px;
    margin-top:15px;
    justify-content:center;
}

.subject-tag{
    background:#1d6fdc;
    color:#fff;
    padding:6px 12px;
    border-radius:20px;
    font-size:11px;
    cursor:pointer;
    transition:0.2s;
}

.subject-tag:hover{
    background:#155ab6;
}

.save-btn{
    display:none;
    position:absolute; 
    bottom:20px;       
    left:20px;
    width:calc(100% - 40px);
    padding:12px;
    background:#16a34a;
    color:#fff;
    border:none;
    border-radius:10px;
    font-size:13px;
    cursor: pointer;
}

.save-btn:active{
    transform: scale(0.96);
}

.no-current{
    text-align:center;
    color:#888;
    pointer-events:none;
}

.no-current:hover{
    background:none;     
    margin:0;          
}

.status-working {
    color: #16a34a !important; /* green */
    font-weight: 500;
}

.status-defective {
    color: #dc2626 !important; /* red */
    font-weight: 500;
}

.status-others {
    color: #000 !important; /* black */
    font-weight: 500;
}

